In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import datetime 
plt.style.use("ggplot")  #using style ggplot

%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
import datetime as dt
import plotly.graph_objects as go
import plotly.express as px

In [2]:
df = pd.read_csv("spam11.csv")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.shape

(5572, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
# drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)
df.sample(5)

        v1                                                 v2
120   spam  URGENT! Your Mobile No. was awarded å£2000 Bon...
293    ham                             Are you this much buzy
2736   ham          Really? I crashed out cuddled on my sofa.
715    ham            When i have stuff to sell i.ll tell you
3620   ham  That means from february to april i'll be gett...

In [6]:
# renaming the cols
df.rename(columns={'v1':'category','v2':'mail'},inplace=True)
df.sample(5)

     category                                               mail
179       ham  Hi! You just spoke to MANEESHA V. We'd like to...
2133      ham  Spoke with uncle john today. He strongly feels...
3929      ham  I thk Ì_ gotta go home by urself. Cos i'll b g...
3281      ham  Hey you around? I've got enough for a half + t...
4186      ham                   Dear got bus directly to calicut

In [7]:
# missing values
df.isnull().sum()

category    0
mail        0
dtype: int64

In [8]:
# check for duplicate values
df.duplicated().sum()

403

In [9]:
# remove duplicates
df = df.drop_duplicates(keep='first')
df.duplicated().sum()

0

In [10]:
df.shape

(5169, 2)

In [11]:
df.describe()

       category                                               mail
count      5169                                               5169
unique        2                                               5169
top         ham  Go until jurong point, crazy.. Available only ...
freq       4516                                                  1

In [12]:
df.loc[df['category'] == 'spam', 'category',] = 0
df.loc[df['category'] == 'ham', 'category',] = 1

In [13]:
X = df['mail']

Y = df['category']

In [14]:
X.value_counts()

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...                                               1
Wake me up at  &lt;#&gt;  am morning:)                                                                                                                        1
I will reach ur home in  &lt;#&gt;  minutes                                                                                                                   1
Wait.i will come out.. &lt;#&gt;  min:)                                                                                                                       1
R u here yet? I'm wearing blue shirt n black pants.                                                                                                           1
                                                                                                                                                             ..
;-( oh well, c u later                                                                                                                                        1
BIG BROTHER ALERT! The computer has selected u for 10k cash or #150 voucher. Call 09064018838. NTT PO Box CRO1327 18+ BT Landline Cost 150ppm mobiles vary    1
Buy Space Invaders 4 a chance 2 win orig Arcade Game console. Press 0 for Games Arcade (std WAP charge) See o2.co.uk/games 4 Terms + settings. No purchase    1
Call FREEPHONE 0800 542 0578 now!                                                                                                                             1
Rofl. Its true to its name                                                                                                                                    1
Name: mail, Length: 5169, dtype: int64

In [15]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: mail, Length: 5169, dtype: object

In [16]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: category, Length: 5169, dtype: object

In [17]:
#Splitting the data into training data & test data

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [19]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5169,)
(4135,)
(1034,)

In [20]:
# transform the text data to feature vectors that can be used as input to the Logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [21]:
print(X_train)

4443                       COME BACK TO TAMPA FFFFUUUUUUU
982     Congrats! 2 mobile 3G Videophones R yours. cal...
3822    Please protect yourself from e-threats. SIB ne...
3924       As if i wasn't having enough trouble sleeping.
4927    Just hopeing that wasn‰Û÷t too pissed up to re...
                              ...
806      sure, but make sure he knows we ain't smokin yet
990                                          26th OF JULY
1723    Hi Jon, Pete here, Ive bin 2 Spain recently & ...
3519    No it will reach by 9 only. She telling she wi...
1745    IåÕm cool ta luv but v.tired 2 cause i have be...
Name: mail, Length: 4135, dtype: object

In [22]:
print(X_train_features)

  (0, 2697)	0.7205755344386542
  (0, 6409)	0.5950532917415522
  (0, 1825)	0.35592482233751443
  (1, 5438)	0.27399320458839144
  (1, 4583)	0.27399320458839144
  (1, 4438)	0.22516921191243092
  (1, 5036)	0.27399320458839144
  (1, 2274)	0.27399320458839144
  (1, 2920)	0.23390504161994488
  (1, 3610)	0.27399320458839144
  (1, 4984)	0.19732502227978832
  (1, 4180)	0.23390504161994488
  (1, 7137)	0.24133495616477563
  (1, 6940)	0.27399320458839144
  (1, 203)	0.27399320458839144
  (1, 6941)	0.27399320458839144
  (1, 453)	0.25698446420786897
  (1, 4333)	0.15929709793058355
  (1, 1885)	0.22516921191243092
  (2, 953)	0.26160275768603725
  (2, 4856)	0.26160275768603725
  (2, 5786)	0.26160275768603725
  (2, 2459)	0.22436535516409714
  (2, 4960)	0.26160275768603725
  (2, 5976)	0.1902832473629628
  :	:
  (4132, 6862)	0.11085392369947865
  (4132, 5612)	0.14854309693836068
  (4132, 3865)	0.16898098428277844
  (4133, 6457)	0.6154177820886059
  (4133, 5320)	0.5530764956488926
  (4133, 2311)	0.4238274869992768
  (4133, 3771)	0.36842584696755415
  (4134, 4632)	0.2852228597337175
  (4134, 3508)	0.2852228597337175
  (4134, 5982)	0.2623257437582278
  (4134, 3585)	0.2718289055133927
  (4134, 6095)	0.2623257437582278
  (4134, 4980)	0.24893178953790301
  (4134, 1608)	0.22890896872799293
  (4134, 5751)	0.21866344863800888
  (4134, 6383)	0.24893178953790301
  (4134, 3967)	0.23205740285833368
  (4134, 2297)	0.23205740285833368
  (4134, 6596)	0.2355378353175782
  (4134, 5998)	0.2549545188338234
  (4134, 7181)	0.20454345297905668
  (4134, 1923)	0.19363439583175862
  (4134, 1571)	0.18164633700356694
  (4134, 4068)	0.20454345297905668
  (4134, 3038)	0.13885722635220862

In [23]:
model = LogisticRegression()

In [24]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

In [25]:
#Evaluating the trained model

In [26]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [27]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.962273276904474

In [28]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [29]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.960348162475822

In [30]:
#building prediction model

In [31]:
I've been searching for the right words to thank you for this breather. I promise i wont take your heinput_mail = ["lp for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Ham mail